<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="bio-list">
          <li class="name">{{ site.name }}</li>
          <li>{{ site.copyright }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="contact-list">
          <li>CONTACT</li>
          <li>{{ site.email }}</li>
          <li>{{ site.hp }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="address-list">
          <li>STUDIO</li>
          <li>{{ site.address }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-4 pull-right">
        <a href="https://www.facebook.com/{{ site.facebook_username }}">
          <img src="{{ site.url }}/img/ic_sns_facebook.png">
        </a>
        <a href="https://www.behance.net//{{ site.behance_username }}">
          <img src="{{ site.url }}/img/ic_sns_behance.png">
        </a>
        <a href="https://www.pinterest.com/{{ site.pinterest_username }}">
          <img src="{{ site.url }}/img/ic_sns_pinterest.png">
        </a>
        <a href="https://www.instagram.com/{{ site.instagram_username }}">
          <img src="{{ site.url }}/img/ic_sns_instagram.png">
        </a>
      </div>

    </div>

  </div>

</footer>
